#controls > * {
  display: block;
  padding: 4px;
}

#controls {
  margin: 10px;
  margin-left: 0;
}

h1 > img {
  vertical-align: middle;
}

#controls > div,
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
}

.button > button {
  display: none;
}

.button {
  text-decoration: none;
  background-color: #eeeeee;
  color: #1f1f1f;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.button:hover {
  background-color: #d9d9d9;
}

.button:has(> button[disabled]) {
  background-color: #757575;
  color: #303030;
}

.handle-name {
  margin-left: 10px;
  font-family: monospace, monospace;
  font-size: medium;
}

#stdout {
  white-space: pre;
  max-height: 500px;
  overflow-y: scroll;
}

*[data-kind="success"] {
  color: green;
}

*[data-kind="error"] {
  color: red;
  font-weight: bold;
}

#gh-logo-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #333333;
    color: white;
  }

  a {
    color: #7568ff;
  }

  a:visited {
    color: #f98fff;
  }

  #gh-logo-light {
    display: none;
  }

  #gh-logo-dark {
    display: inline-block;
  }

  .button:has(> button[disabled]) {
    background-color: #757575;
    color: #303030;
    border: 1px solid #333333;
  }

  *[data-kind="success"] {
    color: rgb(80, 255, 80);
  }

  *[data-kind="error"] {
    color: rgb(255, 104, 104);
    font-weight: bold;
  }
}
