.controls-block {
  display: block;
  padding: 4px;
}

#controls {
  margin: 10px;
  margin-left: 0;
}

h1 > img {
  vertical-align: middle;
}

#controls > div,
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
}

.button > button {
  display: none;
}

.button {
  text-decoration: none;
  font-size: medium;
  background-color: #eeeeee;
  color: #1f1f1f;
  padding: 1px 6px;
  border-radius: 3px;
}

.button:hover {
  background-color: #d9d9d9;
}

.controls-block:has(.button > button[disabled]) {
  .handle-name {
    opacity: 0.5;
  }
}

.button:has(> button[disabled]) {
  background-color: #757575;
  color: #303030;
}

.handle-name {
  margin-left: 10px;
  font-family: monospace, monospace;
  font-size: small;
}

#stdout {
  white-space: pre;
  max-height: 50vh;
  overflow-y: scroll;
  display: block;
  width: 100% - 10px;
  min-height: 15px;
  background-color: #1f1f1f;
  color: white;
  padding: 10px;
  border-radius: 2px;
  color-scheme: dark;
  margin-top: 20px;
}

#stdout > span[data-kind="error"] {
  color: rgb(255, 104, 104);
}

*[data-kind="success"] {
  color: green;
}

*[data-kind="error"] {
  color: red;
  font-weight: bold;
}

#gh-logo-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #333333;
    color: white;
  }

  a {
    color: #7568ff;
  }

  a:visited {
    color: #f98fff;
  }

  #gh-logo-light {
    display: none;
  }

  #gh-logo-dark {
    display: inline-block;
  }

  .button:has(> button[disabled]) {
    background-color: #757575;
    color: #303030;
  }

  *[data-kind="success"] {
    color: rgb(80, 255, 80);
  }

  *[data-kind="error"] {
    color: rgb(255, 104, 104);
    font-weight: bold;
  }
}
